<h1> Esto es una calculadora: </h1>


<section>
  <div id="contenido">
    <mat-label></mat-label>
    <input id="resultado">
  </div>
</section>

<mat-grid-list cols="1"rowHeight="40px">

<section>
  <mat-grid-tile>
    <button mat-raised-button color="warn"> 1 </button>
    <button mat-raised-button color="warn"> 2 </button>
    <button mat-raised-button color="warn"> 3 </button>
    <button mat-raised-button color="primary"> X </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn"> 4 </button>
    <button mat-raised-button color="warn"> 5 </button>
    <button mat-raised-button color="warn"> 6 </button>
    <button mat-raised-button color="primary"> / </button>
</mat-grid-tile>
<mat-grid-tile>
  <button mat-raised-button color="warn"> 7 </button>
  <button mat-raised-button color="warn"> 8 </button>
  <button mat-raised-button color="warn"> 9 </button>
  <button mat-raised-button color="primary"> + </button>
</mat-grid-tile>
<mat-grid-tile>
  <button mat-raised-button color="warn"> 0 </button>
  <button mat-raised-button color="warn"> , </button>
  <button mat-raised-button color="warn"> = </button>
  <button mat-raised-button color="primary"> - </button>
</mat-grid-tile>
</section>
</mat-grid-list>

